@model IEnumerable<OdeToFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>There are @Model.Count() restaurants in the database.</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model) {
    @Html.Partial("_RestaurantSummary", item)
}


