@model IEnumerable<OdeToFood.Data.Models.Restaurant>
@{
    ViewBag.Title = "Home Page";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Restaurant List</h3>
    </div>
    <div class="panel-body">
        <h3 class="panel-info">Thanks for visiting!</h3>
    </div>
    <div class="panel-footer">
        <h5 class="panel-info">There are @Model.Count() restaurants in the database.</h5>
    </div>
</div>
<div class="jumbotron">
    <h2>ASP.NET</h2>

</div>

